/*------------*/
/*  PROYECT   */
/*-----------*/

#proyects {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        0deg,
        var(--opacity-5),
        var(--opacity-5)
    ), var(--theme-central-secundary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    color: var(--text-color-inverse);
    padding: 50px 0;
}


#proyects h2 {
    padding: 0 20px;
    font-size: 35px;
    color: var(--text-color-inverse);
    text-align: center;
}

#proyects .hover{
    display: block;
}


#proyects .empty img{
    display: none;
}

#proyects .container{
    max-width: none;
    margin: 0 0;
}

/* ////////////EFECTO FLIP EN CARD /////////////// */

#proyects .carta-flip{
    max-width: 550px;
    margin: 50px auto;
    height: 200px;
    padding: 0 50px;
    perspective: 1000px;
}

    #proyects .card{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 1s;
        transform-style: preserve-3d;
    }

        #proyects .carta-front, .carta-back{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            
        }

            #proyects .carta-front.image,.carta-back.image{
                background-image: linear-gradient(
                    0deg,
                    var(--opacity-4),
                    var(--opacity-4)
                ),url("../img/pro1.jpeg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                box-shadow: 1px 1px 5px 2px var(--text-color-inverse);
                padding: 10px;
                overflow: auto;
            }

            #proyects .carta-front.image2,.carta-back.image2{
                background-image: linear-gradient(
                    0deg,
                    var(--opacity-4),
                    var(--opacity-4)
                ),url("../img/pro2.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                box-shadow: 1px 1px 5px 2px var(--text-color-inverse);
                padding: 10px;
                overflow: auto;
            }

            #proyects .carta-front.image3,.carta-back.image3{
                background-image: linear-gradient(
                    0deg,
                    var(--opacity-4),
                    var(--opacity-4)
                ),url("../img/pro3.jpg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                box-shadow: 1px 1px 5px 2px var(--text-color-inverse);
                padding: 10px;
                overflow: auto;
            }
            
                #proyects .carta-front{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 25px;
                    color: var(--secundary-color);
                    font-weight: bold;
                }

                    #proyects .carta-back{
                        transform: rotateY(180deg);
                        padding: 5%;
                        font-size: 20px;
                    }

                    #proyects .carta-back::-webkit-scrollbar{
                        width: 8px;
                        background-color: none;
                    }

                    #proyects .carta-back::-webkit-scrollbar-thumb{
                        background-color: var(--plus);
                        border-radius: 5px;
                    }

                        #proyects .card:hover{
                            transform: rotateY(180deg);
                        }

                            #proyects .cart-open{
                                border: 1.5px solid var(--plus) ;
                                color: var(--plus);
                                margin: 10px 0;
                                padding: 5px 6px;
                                font-size: 20px;
                                font-weight: 650;
                                background: none ;
                                border-radius: 5px;
                            }

/* /////////////////////////// */


@media (min-width: 750px) {


    /* ///////////////////////// desacer efecto flip en grid ////////*/
    #proyects .carta-flip{
        max-width: none;
        margin: 50px 0;
        height: 200px;
        padding: 0;
    }
    
        #proyects .card{
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: none;
            transform-style: none;
        }
    
            #proyects .carta-front, .carta-back{
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                
            }
    
                #proyects .carta-front.image,.carta-back.image,
                #proyects .carta-front.image2,.carta-back.image2,
                #proyects .carta-front.image3,.carta-back.image3{
                    background: none;
                    box-shadow: none;
                    padding: 10px;
                    overflow: unset;
                    padding: 10px;
                }
                
                    #proyects .carta-front{
                        display: contents;
                        font-size: 25px;
                        color: var(--secundary-color);
                        font-weight: bold;
                    }
    
                        #proyects .carta-back{
                            transform: none;
                            padding: 10px 25px;
                            font-size: 18px;
                            text-align: justify;
                        }
    
                            #proyects .card:hover{
                                transform: none;
                            }
    
                                #proyects .cart-open{
                                    display: none;
                                }

    /* ///////////////////////// desacer efecto flip en grid ////////*/



    /*GRID*/

    #proyects .carta-grid{
        display: grid;
        grid-template-columns: auto 2px auto;
        gap: 20px 70px;
        padding: 50px;
        max-width: 1200px;
        margin: 0 auto;
    }

    #proyects .empty{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #proyects .empty img{
        display: block;
        width: calc(80% + 20px);
        margin: 20px 0;
        box-shadow: 0 2px 6px 4px #ccc;
    }

    #proyects .line{
        background-color: #fff;
        position: relative;
    }

    #proyects .line::before,
    #proyects .line::after{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--text-color-inverse);
        border-radius: 50%;


        position: absolute;
        top: -20px;
        left: -9px;

    }

    #proyects .line::after{
        top: 100%;
        z-index: 1;
    }
    /* FIN DE GRID*/
    
    
    
}